:root{
    --Color1: #F4E7E1;
    --Color2: #FF9B45;
    --Color3: #d5451b;
    --Color4: #521C0D;
}
body{
    background-color: var(--Color1);
}
.navbar{
  background: #FF9B45;
background: linear-gradient(29deg, rgba(255, 155, 69, 1) 0%, rgba(213, 69, 27, 1) 50%, rgba(255, 155, 69, 1) 100%);
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.navbar .nav-link{
    color: var(--Color1);
    text-shadow: 2px 2px 1px var(--Color4);
    text-decoration: none;
    font-size: 22px;
}
.navbar .nav-link.active{
    color: var(--Color2);
    text-shadow: 2px 2px 1px var(--Color4);
}
.container-fluid img{
    max-width: 20%;

}
.navbar-brand{
    max-width: 40%;
    margin-right: 0;
}
.container h1{
    margin-top: 50px;
}
.container-img{
    display: flex;
    justify-content: center;
    

}
.container-img img{
    max-width: 100%;
    border-radius: 20px;
    transition: 0.5s;

}
.container-img img:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.carroussel-inner img{
    max-width: 100%;
}
main img{
    max-width: 100%;
}

footer{
    background-color: var(--Color4);
    color: var(--Color1);
}
.footer{
    padding: 10px;
}
footer strong{
    color: var(--Color2);
}
footer h5{
    color: var(--Color2);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--Color1);
}
.footer-link{
    color: var(--Color1);
    text-decoration: none;
}
.footer-link:hover{
    color: var(--Color2);
    text-decoration: underline;
    transition: 0.2s;
}
.footer-footer{
    background-color: var(--Color3);
    padding: 10px;
}
.footer-footer strong{
    color: var(--Color1);
}
